<div class="row">
  <div class="col-sm rounded border border-primary">
    <app-featureform teamDescriptor="A" (featureFormData)="handleDataFormA($event)"></app-featureform>
  </div>

  <div class="col-sm rounded border border-primary m-3" style="display: flex; flex-direction: column; align-items: center;">
    <app-button buttonLabel="Predict match outcome" (customClick)="handleClick()"></app-button><br />
    <h1 class="text-primary">{{match_prediction}}</h1>
  </div>

  <div class="col-sm border rounded border-primary">
    <app-featureform teamDescriptor="B" (featureFormData)="handleDataFormB($event)"></app-featureform>
  </div>
</div>
