<label class="text-primary">Team {{teamDescriptor}} Average ELO:</label><br/>
<input type="text" [(ngModel)]="teamELO" (ngModelChange)="sendDataToMatch()"/><br/>

<label class="text-primary">Team {{teamDescriptor}} Average RWS:</label> <br/>
<input type="text" [(ngModel)]="teamRWS" (ngModelChange)="sendDataToMatch()"/><br/>

<label class="text-primary">Team {{teamDescriptor}} Average Rating:</label> <br/>
<input type="text" [(ngModel)]="teamRating" (ngModelChange)="sendDataToMatch()"/><br/>

<label class="text-primary">Team {{teamDescriptor}} Average Rating2:</label> <br/>
<input type="text" [(ngModel)]="teamRating2" (ngModelChange)="sendDataToMatch()"/><br/>

<label class="text-primary">Team {{teamDescriptor}} Average KR:</label> <br/>
<input type="text" [(ngModel)]="teamKR" (ngModelChange)="sendDataToMatch()"/><br/>

<label class="text-primary">Team {{teamDescriptor}} Average KD:</label> <br/>
<input type="text" [(ngModel)]="teamKD" (ngModelChange)="sendDataToMatch()"/><br/>

<label class="text-primary">Team {{teamDescriptor}} Average KAST:</label> <br/>
<input type="text" [(ngModel)]="teamKAST" (ngModelChange)="sendDataToMatch()"/><br/>

<label class="text-primary">Team {{teamDescriptor}} Average ADR:</label> <br/>
<input type="text" [(ngModel)]="teamADR" (ngModelChange)="sendDataToMatch()"/><br/><br />
